<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Winning Health CIS 互联互通工具"/>
    <meta name="description" content="Winning Health CIS 互联互通工具"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{/vue/css/element-ui.css}"/>
</head>
<body>

</body>
<script type="text/javascript" th:src="@{/vue/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/vue/js/element-ui.js}"></script>
<script type="text/javascript" th:src="@{/vue/js/axios.min.js}"></script>
<script th:inline="javascript"  type="text/javascript">
    var ctx = /*[[@{/}]]*/'';
</script>
<script>
    new Vue({
        data:{},
        methods:{},
        created:function(){},
        mounted:function(){}
    }).$mount('#app');
</script>
</html>