<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/resources/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.min.css}" rel="stylesheet">
    <!-- bootstrap-table -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-table/bootstrap-table.min.css}">
    <!-- include summernote css/js -->
    <link rel="stylesheet" th:href="@{/assets/summernote/summernote.css}">
    <!-- include bootstrap-fileinput css/js -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-fileinput/css/fileinput.min.css}">
</head>

<body style="background-color: #f3f3f4">

<div class="container">
    <div id="toolbar">
        <form class="form-inline">
            <div class="input-group m-b">
                <button type="button" class="btn btn-primary" onclick="modalOpen('#toolModal',0)">产品新增</button>
            </div>
            <div class="input-group m-b">
                <button type="button" class="btn btn-primary" onclick="modalOpen('#docModal',1)">文案新增</button>
            </div>
            <div class="input-group m-b">
                <input type="text" id="search_name" placeholder="请输入名称搜索" class="form-control">
                <span class="input-group-btn">
                 <button type="button" class="btn btn-primary" id="search_btn">搜索</button>
                </span>
            </div>
        </form>
    </div>
    <table id="table">
    </table>
</div>
<!-- 产品模态框（Modal） -->
<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="toolModalLabel">产品新增</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="get" class="form-horizontal">
                            <div class="form-group"><label class="col-sm-3 control-label">产品LOGO</label>
                                <div class="col-sm-9">
                                    <input type="file" name="file" id="logoInput" class="form-control" multiple>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">产品名称</label>
                                <div class="col-sm-9">
                                    <input id="tool_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">工具/文案包</label>
                                <div class="col-sm-9">
                                    <input type="file" name="file" id="jarInput" class="form-control" multiple>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">产品负责人</label>
                                <div class="col-sm-9">
                                    <input id="tool_leader" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">产品知识</label>
                                <div class="col-sm-9">
                                    <div id="summernote"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit_btn">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 文案模态框（Modal） -->
<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="docModalLabel">文案新增</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="get" class="form-horizontal">
                            <div class="form-group"><label class="col-sm-3 control-label">文案名称</label>
                                <div class="col-sm-9">
                                    <input id="doc_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">文案文件</label>
                                <div class="col-sm-9">
                                    <input type="file" name="file" id="docInput" class="form-control" multiple>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">文件编纂</label>
                                <div class="col-sm-9">
                                    <input id="doc_leader" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-3 control-label">文件简介</label>
                                <div class="col-sm-9">
                                    <div id="doc_summernote"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="doc_sub_btn">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- Mainly scripts -->
<!--[if !IE]> -->
<script th:src="@{/resources/js/jquery-2.2.4.min.js}" type="text/javascript"></script>
<script th:src="@{/resources/js/plugins/jeditable/jquery.jeditable.js}"></script>
<!-- <![endif]-->
<!--[if IE]>
<!--<script th:src="@{/resources/js/jquery-1.12.4.min.js}" type="text/javascript"></script>-->
<![endif]-->
<script th:inline="javascript" type="text/javascript">
    var ctx = /*[[@{/}]]*/'';
</script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!--layer-->
<script th:src="@{/assets/layer/layer.js}"></script>
<!-- bootstrap-table -->
<script th:src="@{/assets/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/assets/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
<!-- include summernote -->
<script type="text/javascript" th:src="@{/assets/summernote/summernote.js}"></script>
<!--bootstrap-fielinput-->
<script type="text/javascript" th:src="@{/assets/bootstrap-fileinput/js/fileinput.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap-fileinput/js/locales/zh.js}"></script>
<script>
    $(function () {
        //初始化表格
        $("#table").bootstrapTable({
            url: ctx + 'manager/list',
            method: "GET",
            height: $(window).height(),
            // striped: true,//树形表
            queryParams: queryParams,
            toolbar: '#toolbar',
            cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   // 是否显示分页（*）
            // sortable: true,                     // 是否启用排序
            // sortOrder: "asc",                   // 排序方式
            sidePagination: "server",           // 分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
            pageSize: 10,                     // 每页的记录行数（*）
            pageList: [10, 25, 50, 100],        // 可供选择的每页的行数（*）
            showPaginationSwitch: false,			//显示 数据条数选择框
            search: false,                      // 是否显示表格搜索
            strictSearch: true,
            minimumCountColumns: 2,             // 最少允许的列数
            clickToSelect: true,                // 是否启用点击选中行
            // idField: 'id',
            sortName: 'id',
            // uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
            // cardView: false,                    // 是否显示详细视图
            // detailView: true,                  // 是否显示父子表
            toolbarAlign: 'left',
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: false, //分页条无限循环的功能
            singleSelect: true,
            columns: [
                // {
                //     field: 'ck',
                //     checkbox: true
                // },
                {
                    field: 'name',
                    width: '10%',
                    title: '名称'
                }, {
                    field: 'leader',
                    width: '20%',
                    title: '负责人/部门'
                },
                {
                    field: 'operateTime',
                    width: '30%',
                    title: '更新时间',
                    formatter: function (value, row, index) {
                        //	2018-11-07T03:03:13.000+0000
                        var str = value.substr(0, 10) + " " + value.substr(11, 8);
                        return str;
                    }
                },
                {
                    field: 'isStop',
                    width:
                        '10%',
                    title:
                        '状态',
                    align:
                        'center',
                    formatter:

                        function (value, row, index) {
                            var str = "";
                            if (value == 0) {
                                //启用
                                str = "<a class='btn btn-primary btn-rounded btn-xs' href='javascript:void(0)'>启&nbsp;&nbsp;&nbsp;&nbsp;用</a>";
                            }
                            if (value == 1) {
                                //停用
                                str = "<a class='btn btn-danger btn-rounded btn-xs' href='javascript:void(0)'>停&nbsp;&nbsp;&nbsp;&nbsp;用</a>";
                            }
                            return str;
                        }
                }
                ,
                {
                    width:
                        '20%',
                    title:
                        '操作',
                    align:
                        'center',
                    formatter:

                        function (value, row, index) {
                            var str = "<div class='btn-group'><button type='button' class='btn btn-success btn-xs' onclick='changeStatus(" + row.id + "," + 0 + ")'>编&nbsp;&nbsp;&nbsp;&nbsp;辑</button>"
                            if (row.isStop == 0) {
                                str += "<button type='button' class='btn btn-danger btn-xs' onclick='changeStatus(" + row.id + "," + 1 + ",this)'>停&nbsp;&nbsp;&nbsp;&nbsp;用</button></div>"
                            } else if (row.isStop == 1) {
                                str += "<button type='button' class='btn btn-primary btn-xs' onclick='changeStatus(" + row.id + "," + 0 + ",this)'>启&nbsp;&nbsp;&nbsp;&nbsp;用</button></div>"

                            }
                            return str;
                        }
                }
                ,
            ],
            // treeShowField: 'colummName',
            // parentIdField: 'pid',
            // onExpandRow: function (index, row, $detail) {
            //     InitSubTable(index, row, $detail);
            // },
        });
        //logo上传
        var logoInput = $('#logoInput')
        logoInput.fileinput({//初始化上传文件框
            uploadAsync: false,//同步上传
            uploadUrl: ctx + "manager/logoUpload",
            language: "zh",//配置语言
            showUpload: false,//是否显示上传按钮
            showRemove: true,
            initialCaption: "请选择LOGO",
            showCaption: true,//是否显示标题
            showPreview: false,
            showBrowse: true,
            uploadLabel: "上传",//设置上传按钮的汉字
            uploadClass: "btn btn-primary",//设置上传按钮样式
            maxFileSize: 9999999,
            maxFileCount: 1, /*允许最大上传数，可以多个，当前设置单个*/
            enctype: 'multipart/form-data',
            //allowedPreviewTypes : [ 'image' ], //allowedFileTypes: ['image', 'video', 'flash'],
            allowedFileExtensions: ["jpg", "png", "gif"], /*上传文件格式*/
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            // browseOnZoneClick: true,
            // dropZoneTitle: "请通过拖拽图片文件放到这里",
            // dropZoneClickTitle: "或者点击此区域添加图片",
            //uploadExtraData: {"id": id},//这个是外带数据
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        //产品包上传
        var jarInput = $('#jarInput')
        jarInput.fileinput({//初始化上传文件框
            uploadAsync: false,//同步上传
            uploadUrl: ctx + "manager/jarUpload",
            language: "zh",//配置语言
            showUpload: false,//是否显示上传按钮
            showRemove: true,
            initialCaption: "请选择文件",
            showCaption: true,//是否显示标题
            showPreview: false,
            showBrowse: true,
            uploadLabel: "上传",//设置上传按钮的汉字
            uploadClass: "btn btn-primary",//设置上传按钮样式
            maxFileSize: 9999999,
            maxFileCount: 1, /*允许最大上传数，可以多个，当前设置单个*/
            enctype: 'multipart/form-data',
            //allowedPreviewTypes : [ 'image' ], //allowedFileTypes: ['image', 'video', 'flash'],
            //allowedFileExtensions: ["jpg", "png", "gif"], /*上传文件格式*/
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            // browseOnZoneClick: true,
            // dropZoneTitle: "请通过拖拽图片文件放到这里",
            // dropZoneClickTitle: "或者点击此区域添加图片",
            //uploadExtraData: {"id": id},//这个是外带数据
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        //文案上传
        var docInput = $('#docInput')
        docInput.fileinput({//初始化上传文件框
            uploadAsync: false,//同步上传
            uploadUrl: ctx + "manager/docUpload",
            language: "zh",//配置语言
            showUpload: false,//是否显示上传按钮
            showRemove: true,
            initialCaption: "请选择文件",
            showCaption: true,//是否显示标题
            showPreview: false,
            showBrowse: true,
            uploadLabel: "上传",//设置上传按钮的汉字
            uploadClass: "btn btn-primary",//设置上传按钮样式
            maxFileSize: 9999999,
            maxFileCount: 1, /*允许最大上传数，可以多个，当前设置单个*/
            enctype: 'multipart/form-data',
            //allowedPreviewTypes : [ 'image' ], //allowedFileTypes: ['image', 'video', 'flash'],
            //allowedFileExtensions: ["jpg", "png", "gif"], /*上传文件格式*/
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            // browseOnZoneClick: true,
            // dropZoneTitle: "请通过拖拽图片文件放到这里",
            // dropZoneClickTitle: "或者点击此区域添加图片",
            //uploadExtraData: {"id": id},//这个是外带数据
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });

        //文本编辑器
        var summernote = $('#summernote');
        summernote.summernote({
            height: 300,
            minHeight: 300,
            maxHeight: 300,
            lang: "zh-CN",
            focus: true,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ],
        });
        //文本编辑器
        var doc_summernote = $('#doc_summernote');
        doc_summernote.summernote({
            height: 300,
            minHeight: 300,
            maxHeight: 300,
            lang: "zh-CN",
            focus: true,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ],
        });
        //产品确认提交
        $("#submit_btn").click(function () {
            //logo
            var logo = $("#logoInput").val();
            //名称
            var name = $("#tool_name").val();
            //工具包
            var toolRar = $("#jarInput").val();
            //产品负责人
            var leader = $("#tool_leader").val();
            //描述内容
            var content = summernote.summernote('code');
            //空判断
            if (name == null || name == "") {
                layer.msg('产品名称不能为空！', {icon: 5, time: 2500});
                return;
            }
            if (toolRar == null || toolRar == "") {
                layer.msg('请选择工具包!', {icon: 5, time: 2500});
                return;
            }
            if (leader == null || leader == "") {
                layer.msg('产品负责人不能为空!', {icon: 5, time: 2500});
                return;
            }
            //已选择logo才进行上传
            if (logo != null && logo != "") {
                logoInput.fileinput("upload").on("filebatchuploadsuccess", function (event, data, previewId, index) {
                    if (data.response.msg == "success") {
                        console.log("LOGO上传成功！");
                    } else {
                        console.log("LOGO上传失败！");
                        layer.msg('LOGO上传失败！', {icon: 5, time: 2500});
                        return;
                    }
                });
            }
            if (toolRar != null && toolRar != "") {
                //已选择工具包才进行上传
                jarInput.fileinput("upload").on("filebatchuploadsuccess", function (event, data, previewId, index) {
                    if (data.response.msg == "success") {
                        console.log("工具包上传成功！");
                    } else {
                        console.log("工具包上传失败！");
                        layer.msg('工具包上传失败！', {icon: 5, time: 2500});
                        return;
                    }
                });
            }
            //ajax后台新增数据
            $.ajax({
                url: ctx + "manager/add",
                async: false,
                type: "post",
                data: {name: name, logo: logo, toolRar: toolRar, leader: leader, content: content},
                success: function (data) {
                    if (data.msg == "success") {
                        $("#toolModal").modal("hide");
                        $("#table").bootstrapTable("refresh");
                        layer.msg('产品新增成功！', {icon: 6, time: 2500});
                    }
                }

            });
        });
        //文案确认提交
        $("#doc_sub_btn").click(function () {
            //名称
            var name = $("#doc_name").val();
            //文案文件
            var downLoad = $("#docInput").val();
            //文案编纂
            var leader = $("#doc_leader").val();
            //描述内容
            var content = doc_summernote.summernote('code');
            //空判断
            if (name == null || name == "") {
                layer.msg("文案名称不能为空！", {icon: 5, time: 2500});
                return;
            }
            if (downLoad == null || downLoad == "") {
                layer.msg('请选择文案文件!', {icon: 5, time: 2500});
                return;
            }
            if (leader == null || leader == "") {
                layer.msg('编纂人不能为空!', {icon: 5, time: 2500});
                return;
            }
            if (downLoad != null && downLoad != "") {
                //已选择工具包才进行上传
                docInput.fileinput("upload").on("filebatchuploadsuccess", function (event, data, previewId, index) {
                    if (data.response.msg == "success") {
                        console.log("文案文件上传成功！");
                    } else {
                        console.log("文案文件上传失败！");
                        layer.msg('文案文件上传失败！', {icon: 5, time: 2500});
                        return;
                    }
                });
            }
            //ajax后台新增数据
            $.ajax({
                url: ctx + "manager/add",
                async: false,
                type: "post",
                data: {name: name, downLoad: downLoad, leader: leader, content: content},
                success: function (data) {
                    if (data.msg == "success") {
                        $("#docModal").modal("hide");
                        $("#table").bootstrapTable("refresh");
                        layer.msg('文案新增成功！', {icon: 6, time: 2500});
                    }
                }

            });
        });

        //条件查询
        $("#search_btn").click(function () {
            //按条件刷新table
            $("#table").bootstrapTable("refresh");
        });

    });

    //查询条件
    function modalOpen(elementId, type) {
        if (type == 0) {
            //产品模态框初始化数据
            $("#logoInput").fileinput("clear");
            //名称
            $("#tool_name").val("");
            //工具包
            $("#jarInput").fileinput("clear");
            //产品负责人
            $("#tool_leader").val("");
            //描述内容
            $('#summernote').summernote('code', '');
        } else if (type == 1) {
            //产品模态框初始化数据
            //名称
            $("#doc_name").val("");
            //文案文件
            $("#docInput").fileinput("clear");
            //产品负责人
            $("#doc_leader").val("");
            //描述内容
            $('#doc_summernote').summernote('code', '');
        }
        $(elementId).modal("show");

    }

    //查询条件
    function queryParams(params) {
        var param = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                name: $("#search_name").val(),
                count: params.limit,    // 每页显示条数
                first: params.offset,   // 显示条数
                sort: params.sort,      // 排序列名
                order: params.order,     // 排位命令（desc，asc）
            }
        ;
        return param;
    }

    //修改状态
    function changeStatus(id, type, e) {
        $.ajax({
            url: ctx + "manager/changeStatus",
            data: {id: id, isStop: type},
            type: "post",
            success: function (data) {
                if (data.msg == 'success') {
                    if (type == 1) {
                        //启用
                        var element = $(e).parent().parent().prev();
                        element.empty();
                        var str = "<a class='btn btn-danger btn-rounded btn-xs' href='javascript:void(0)'>停&nbsp;&nbsp;&nbsp;&nbsp;用</a>";
                        element.append(str);
                        var btn_str = "<button type='button' class='btn btn-primary btn-xs' onclick='changeStatus(" + id + "," + 0 + ",this)'>启&nbsp;&nbsp;&nbsp;&nbsp;用</button></div>";
                        $(e).prev().after(btn_str);
                        $(e).remove();
                    } else if (type == 0) {
                        //停用
                        var element = $(e).parent().parent().prev();
                        element.empty();
                        var str = "<a class='btn btn-primary btn-rounded btn-xs' href='javascript:void(0)'>启&nbsp;&nbsp;&nbsp;&nbsp;用</a>";
                        element.append(str);
                        var btn_str = "<button type='button' class='btn btn-danger btn-xs' onclick='changeStatus(" + id + "," + 1 + ",this)'>停&nbsp;&nbsp;&nbsp;&nbsp;用</button></div>";
                        $(e).prev().after(btn_str);
                        $(e).remove();
                    }
                }
            }
        });

    }

</script>
</body>
</html>
